body {
  background: snow;
}
.card {
  background-color: #dbf1d7;
  width: 200px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
  box-shadow: 0 3px 10px rgb(0 0 0);
}
.result {
  font-size: 1em;
  line-height: 1.3em;
  text-align: center;
}
.message {
  text-align: center;
  font-weight: bold;
  color: #221f1f;
  font-size: 2vh;
  line-height: 6vh;
  min-height: 6vh;
}

.pt-sk {
  margin-top: 45% !important;
}
